<ul class="navbar-nav">
  <li class="list-group-item">
    <div class="d-flex flex-row bd-highlight justify-content-center">
    <% genres.each do |genre| %>
      <div class="p-1 bd-highlight mx-4">
        <%= link_to genres_path(genre_id: genre.id) do %>
        <span class="btn btn-secondary">
          <%= genre.genre_name %>
        </span>
      </div>
        <% end %>
    <% end %>
    </div>
  </li>
</ul>
