<ul class="navbar-nav">
  <li class="list-group-item">
    <div class="d-flex flex-row bd-highlight mb-3">
    <% genres.each do |genre| %>
      <div class="p-1 bd-highlight">
        <%= link_to genres_path(genre_id: genre.id) do %>
        <%= genre.genre_name %>
      </div>
        <% end %>
    <% end %>
    </div>
  </li>
</ul>
