<div class="container">

  <div class="row">
    <div class="col-3 mb-5">
      <h5 class="text-center bg-light mt-5"><%= @member.name %>さんの登録情報</h5>
   </div>
 </div>

  <div class="row">
    <div class="col-8 mb-2">
      <table class="table">

        <tr>
          <th>氏名</th>
          <th><%= @member.name %></th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th><%= @member.email %></th>
        </tr>
      </table>
    </div>

    <div class="col-12">
      <% if @member.name != "guestmember" %>
        <tr class="text-center">
          <th><%= link_to '編集する',edit_user_path(@member), class: "btn btn-success offset-4" %></th>
        </tr>
      <% end %>

    </div>
  </div>
</div>